/*Menu css code*/
.drop-menu {
	width: 8em;
	height: 4em;
	list-style-type: none;	
	background-color: #EBEBEB;			
	position: absolute;
	right: 0%;
	top: 0%;
	z-index: 1;
}
.drop-menu:hover {
	height: 8em;
}
.drop-menu li {
	text-align: center;
	background-color: #EBEBEB;	
	visibility:hidden;
	position: absolute;
	padding: 2px;
	width: 100%;
	top: 100%;
	left: 0%;
}
.drop-menu:hover .drop-menu-1 {
	display: block;
	visibility: visible;
	animation-name: fall1;
	animation-duration: 0.5s;
	top: 50%;
}
.drop-menu:hover .drop-menu-2 {
	display: block;
	visibility: visible;
	animation-name: fall2;
	animation-duration: 0.5s;
	top: 74%;
}

.drop-menu:first-child {
	visibility: visible;
}

@keyframes fall1 {
	0% {top : 0%;}	
	100% {top : 50%;}
}
@keyframes fall2 {
	0% {top:0%;}
	100% {top:74%;}
}

.ulVidSelect {	
	list-style-type: none;
	padding: 0px;
	overflow: none;	
}

.ulVidSelect li {
	margin: 0px;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	display: block;			
}
.ulVidSelect li + li {
	border-top: 1px solid gray;
}
.btnVidSelect {
	display: inline;
	width: 10em;
	height: 5.625em;
	background-size: 100% 100%;
}

.btnVidSelect + p {
	display: block;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 75%;
	font-weight: bold;
}

@media screen  and (max-width: 767px) and (min-width: 467px) {
  .btnVidSelect + p {
	display: inline;
	}
}
